.App {
  font-family: sans-serif;
  text-align: center;
}

.rbt-input-main, .rbt-input-multi{
  border-radius: 0px !important
}
.cursor-pointer:hover{
  cursor: pointer;
}
.hoverable:hover{
  background: #007bff;
  color: white
}